.logo {
  height: 3.6rem;
  background: rgba(255, 255, 255, 0.2);
  margin: 1.4rem;
}

.content {
  margin: 1.4rem;
}

.footer {
  text-align: center;
}

#components-layout-demo-side .logo {
  height: 3.2rem;
  background: rgba(255, 255, 255, 0.2);
  margin: 1.6rem;
}

.site-layout .site-layout-background {
  background: #fff;
}